

.o_list_view table {
    border-collapse: collapse !important;
    border: 1px solid #ccc !important;   /* viền ngoài */
    width: 100%;
}

/* Kẻ ô cho từng cell */
.o_list_view table th,
.o_list_view table td {
    border: 1px solid #ccc !important;   /* viền ô */
    padding: 6px 8px;
}

/* Header đậm và có nền */
.o_list_view table th {
    background-color: #f5f5f5;
    font-weight: bold;
}

.two-column-form {
    display: flex;
    justify-content: flex-start; /* hoặc bỏ hẳn */
    align-items: flex-start;
    gap: 40px; /* vẫn giữ khoảng cách đều 40px giữa 2 cột */
}

/* Mỗi cột chiếm 50% */
.two-column-form .column {
    flex: 1;
}

/* Mỗi dòng trong form hiển thị ngang */
.form-row {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 8px;
}

/* Label căn phải, có độ rộng cố định để thẳng hàng */
.form-row label {
    min-width: 80px;
    text-align: left;
}

/* Field chiếm đều phần còn lại */
.form-row .o_field_widget {
    flex: 1;
}

.o_form_view:not(.o_field_highlight)
    .o_field_widget:not(.o_field_invalid):not(.o_field_highlight)
    .o_input:not(:hover):not(:focus) {
    --o-input-border-color: var(--border-color, #ccc) !important;
    border-color: var(--border-color, #ccc) !important;
}

.left-col {
    max-width: 50% !important;
    width: 50% !important;
}

.right-col {
    width: -webkit-fill-available;
}

.right-col {
    max-width: 50% !important;
}

input#DG_THEO_TIEN_0 {
    margin-top: 15px !important;
}

label.o_form_label {
    margin-top: 10px !important;
}

.o_field_widget.o_readonly_modifier.o_field_char {
    margin-top: 15px !important;
}

.form-row {
    margin-top: -10px !important;
}

div#TSCDContainer {
    display: none !important;
}

div#MA_TK1_IDContainer {
    display: none !important;
}

div[name="ACC_SP_D"] div#VVIECContainer {
    display: none !important;
}

div[name="ACC_SP_D"] div#MA_TK0_IDContainer {
    display: none !important;
}

div[name="ACC_SP_D"] div#KHACH_HANGContainer {
    display: none !important;
}

div[name="ACC_SP_D"] div#KHOAN_MUCContainer {
    display: none !important;
}

div[name="ACC_SP_D"] div#PT_THUEContainer {
    display: none !important;
}

div[name="ACC_SP_D"] div#SERI_HDContainer {
    display: none !important;
}

div[name="ACC_SP_D"] div#SO_HDContainer {
    display: none !important;
}

div[name="ACC_SP_D"] .date-input {
    display: none !important;
}

div[name="ACC_SP_D"] .arrow {
    display: none !important;
}

.hide-breadcrumb ol.breadcrumb.flex-nowrap.text-nowrap.small.lh-sm {
    display: none !important;
}

.hide-breadcrumb .o_last_breadcrumb_item.active.d-flex.gap-2.align-items-center.min-w-0.lh-sm {
    font-size: 1rem !important;
    padding-top: 5px !important;
}

.hide-breadcrumb span.min-w-0.text-truncate {
    height: 25px !important;
}

.o_list_view th[data-name="HANG_HOA"] {
    width: 400px !important;
    min-width: 400px !important;
    max-width: 400px !important;
}

.o_list_view th[data-name="MA_TK0_ID"] {
    width: 150px !important;
    min-width: 150px !important;
    max-width: 150px !important;
}

.o_list_view th[data-name="MA_TK1_ID"] {
    width: 150px !important;
    min-width: 150px !important;
    max-width: 150px !important;
}

.o_list_view th[data-name="SO_LUONG"] {
    width: 150px !important;
    min-width: 150px !important;
    max-width: 150px !important;
}

.o_list_view th[data-name="DON_GIA"] {
    width: 150px !important;
    min-width: 150px !important;
    max-width: 150px !important;
}

.o_list_view th[data-name="PS_NO1"] {
    width: 150px !important;
    min-width: 150px !important;
    max-width: 150px !important;
}

.o_list_view th[data-name="TIEN_NTE"] {
    width: 150px !important;
    min-width: 150px !important;
    max-width: 150px !important;
}

.o_list_view th[data-name="VAT"] {
    width: 150px !important;
    min-width: 150px !important;
    max-width: 150px !important;
}


.o_list_view th[data-name="NGAY_CT"] {
    width: 150px !important;
    min-width: 150px !important;
    max-width: 150px !important;
}
.o_list_view th[data-name="CHUNG_TU"] {
    width: 150px !important;
    min-width: 150px !important;
    max-width: 150px !important;
}
.o_list_view th[data-name="SO_HD"] {
    width: 150px !important;
    min-width: 150px !important;
    max-width: 150px !important;
}

.o_list_view th[data-name="SERI_HD"] {
    width: 150px !important;
    min-width: 150px !important;
    max-width: 150px !important;
}

.o_list_view th[data-name="NGAY_HD"] {
    width: 150px !important;
    min-width: 150px !important;
    max-width: 150px !important;
}

.o_list_view th[data-name="MAU_SO"] {
    width: 150px !important;
    min-width: 150px !important;
    max-width: 150px !important;
}

.o_list_view th[data-name="PT_THUE"] {
    width: 150px !important;
    min-width: 150px !important;
    max-width: 150px !important;
}
.o_list_view th[data-name="ONG_BA"] {
    width: 150px !important;
    min-width: 150px !important;
    max-width: 150px !important;
}
.o_list_view th[data-name="GHI_CHU"] {
    width: 400px !important;
    min-width: 400px !important;
    max-width: 400px !important;
}
.o_list_view th[data-name="KHACH_HANG"] {
    width: 400px !important;
    min-width: 400px !important;
    max-width: 400px !important;
}
.o_list_view th[data-name="KH_THUE"] {
    width: 400px !important;
    min-width: 400px !important;
    max-width: 400px !important;
}
.o_list_view th[data-name="MS_THUE"] {
    width: 150px !important;
    min-width: 150px !important;
    max-width: 150px !important;
}
.o_list_view th[data-name="DC_THUE"] {
    width: 400px !important;
    min-width: 400px !important;
    max-width: 400px !important;
}
.o_list_view th[data-name="BO_PHAN"] {
    width: 400px !important;
    min-width: 400px !important;
    max-width: 400px !important;
}
.o_list_view th[data-name="VVIEC"] {
    width: 400px !important;
    min-width: 400px !important;
    max-width: 400px !important;
}
.o_list_view th[data-name="KHO"] {
    width: 400px !important;
    min-width: 400px !important;
    max-width: 400px !important;
}
.o_list_view th[data-name="KHOAN_MUC"] {
    width: 400px !important;
    min-width: 400px !important;
    max-width: 400px !important;
}
.o_list_view th[data-name="TIEN_TE"] {
    width: 150px !important;
    min-width: 150px !important;
    max-width: 150px !important;
}
.o_list_view th[data-name="TY_GIA"] {
    width: 150px !important;
    min-width: 150px !important;
    max-width: 150px !important;
}
.o_list_view th[data-name="KHACH_HANGC"] {
    width: 400px !important;
    min-width: 400px !important;
    max-width: 400px !important;
}
.o_list_view th[data-name="KHOC"] {
    width: 400px !important;
    min-width: 400px !important;
    max-width: 400px !important;
}
.o_list_view th[data-name="TINH"] {
    width: 150px !important;
    min-width: 150px !important;
    max-width: 150px !important;
}
.o_list_view th[data-name="NGUON"] {
    width: 150px !important;
    min-width: 150px !important;
    max-width: 150px !important;
}
.o_list_view th[data-name="LOAIDL"] {
    width: 150px !important;
    min-width: 150px !important;
    max-width: 150px !important;
}
.o_list_view th[data-name="HEAD_NO"] {
    width: 150px !important;
    min-width: 150px !important;
    max-width: 150px !important;
}

.o_list_view th[data-name="SO_LUONG2"] {
    width: 150px !important;
    min-width: 150px !important;
    max-width: 150px !important;
}

.o_list_view th[data-name="SL_TP"] {
    width: 150px !important;
    min-width: 150px !important;
    max-width: 150px !important;
}

.o_list_view th[data-name="NHOM_VAT"] {
    width: 400px !important;
    min-width: 400px !important;
    max-width: 400px !important;
}

.o_list_view th[data-name="THUE_NK"] {
    width: 150px !important;
    min-width: 150px !important;
    max-width: 150px !important;
}

.o_list_view th[data-name="SAN_PHAM"] {
    width: 400px !important;
    min-width: 400px !important;
    max-width: 400px !important;
}

.o_list_view th[data-name="SO_LO"] {
    width: 150px !important;
    min-width: 150px !important;
    max-width: 150px !important;
}

.o_list_view th[data-name="DAT"] {
    width: 150px !important;
    min-width: 150px !important;
    max-width: 150px !important;
}

.o_list_view th[data-name="SO_LENHSX"] {
    width: 150px !important;
    min-width: 150px !important;
    max-width: 150px !important;
}

div[name="ACC_SP_D"] div#MA_TK0_IDContainer {
    display: none !important;
}

div[name="ACC_SP_D"] div#KHACH_HANGContainer {
    display: none !important;
}

div[name="ACC_SP_D"] div#VVIECContainer {
    display: none !important;
}

div[name="ACC_SP_D"] div#PT_THUEContainer {
    display: none;
}

div[name="ACC_SP_D"] div#SERI_HDContainer {
    display: none !important;
}

div[name="ACC_SP_D"] div#SO_HDContainer {
    display: none !important;
}

div[name="ACC_SP_D"] .date-input {
    display: none !important;
}

div[name="ACC_SP_D"] .arrow {
    display: none !important;
}
.o_list_view th[data-name="GHI_CHU_CT"] {
    width: 150px !important;
    min-width: 150px !important;
    max-width: 150px !important;
}
